/*********************
*** Global styling *** 
*********************/

* {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body, 
html {
	height: 100%;
	width: 100%;
}

body {
	background-color: #f0efe9;
	font: 90%/1.4 'Verdana', Arial, sans-serif;	
	color: #3e434f;
}

main, 
section,
header {
	display: block;
}

main {
	width: 95%;
	margin: 0 auto;
	padding: 1.2em;
	position: relative;
}

ul {
	list-style: none;
	margin-bottom: 1.5em;
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

/*********************
*** Font styling ***** 
*********************/

h1 {
	font-size: 1.5em;
}

h2 {
	color: #fc728c;
	margin-bottom: 1em;
}

h3 {
	color: #616473;
	margin-bottom: 0.8em;
}

/*********************
*** Form styling ***** 
*********************/

label {
	background-color: #eef1f7;
	display: block;
	position: relative;
	width: 100%;
	padding: 1em;
	margin-bottom: 0.8em;
}

input[type="radio"],
input[type="checkbox"] {
	position: absolute;
	top: 1.8em;
	right: 1em;
}

input:checked {

}

button {
	background-color: #f43254;
	cursor: pointer;
	font-size: 1em;
	padding: 1em;
	color: white;
	border: none;
	transition: background-color .2s ease-in;
}
	
	button:hover {
		background-color: #fc728c;

	}

/*********************
*** Header styling *** 
*********************/

.main-header {
	padding: 1em;
	text-align: center;
	background-color: #f43254;
	margin-bottom: 1.2em;
}

	.main-header h1 {
		color: white;
	}

/*********************
*** List styling *** 
*********************/

.ingredients,
.shopping-list {
	padding: 1.5em;
	margin-bottom: 1em;
	width: 100%;
	background-color: white;
}

	.shopping-list li {
		position: relative;
		padding-bottom: 1em;
		margin-bottom: 1em;
		border-bottom: 1px solid #bdbdbd;
	}

	.shopping-list button {
		padding: 0.3em 0.5em;
		right: 0;
		position: absolute;
	}

/*********************
*** Page styling *** 
*********************/

nav {
	display: none;
}

.is-mobile nav {
	display: block;
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 1;
}
	
	.is-mobile nav a {
		cursor: pointer;
		display: block;
		width: 50%;
		padding: 1em;
		float: left;
		text-align: center;
		color: white;
		background-color: #f43254;
		font-size: 0.8em;
	}

	.is-mobile nav a:hover,
	.is-mobile nav a.is-active {
		background-color: #fc728c;
	}

.is-mobile main {
	height: 100%;
	overflow-x: hidden;
	-webkit-backface-visibility: hidden;
}

.is-mobile main > section {
	position: absolute;
	top: 0;
	left: 0;
	
	-moz-transition: all .3s ease-in;
	-webkit-transition: all .3s ease-in;
	transition: all .3s ease-in;

	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}

.is-mobile .ingredients {
	-webkit-transform: translateX(0%);
	transform: translateX(0%);
	padding-bottom: 3em;
}

.is-mobile .shopping-list {
	-webkit-transform: translateX(110%);
	transform: translateX(110%);	
}

.slide-left .ingredients {
	-webkit-transform: translateX(-110%);
	transform: translateX(-110%);
}

.slide-left .shopping-list {
	-webkit-transform: translateX(0%);	
	transform: translateX(0%);	
}

/************************
*** Draggable styling *** 
************************/
[draggable="true"] {
	-khtml-user-drag: element;
}

[draggable="true"] label {
	cursor: move;
}

[draggable="false"] {
	opacity: 0.5;
	text-decoration: line-through;
} 

.shopping-list__drop {
	margin-bottom: 1em;
	text-align: center;
	display: none;
	border: 2px dashed grey;
	padding: 1em;
	width: 100%;

	-moz-transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;

	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	transform: scale(1);
}

.shopping-list__drop-holder {
	max-height: 11em;
	overflow: scroll;
}

.shopping-list__drop.is-active {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	transform: scale(1.1);
}

.draggable .shopping-list__drop {
	display: block;
}
	
/*********************
*** Media Queries *** 
*********************/
@media (min-width: 45em) {
	
	.is-mobile nav {
		display: none;
	}

	body {
		font-size: 100%;
	}

	.ingredients {
		margin-right: 4%;
	}

	.ingredients,
	.shopping-list {
		width: 48%;
		float: left;
	}

}

@media (min-width: 60em) { 
	
	.ingredients {
		margin-right: 4%;
	}

	.ingredients {
		width: 38%;
	}

	.shopping-list {
		max-width: 50em;
		width: 58%;
		float: left;
	}

	.draggable .shopping-list {
		right: 4%;
		width: 54%;
		position: fixed;
	}
	
}