.geolocation {
	width: 100%;
	position: fixed;
	height: 100%;
	z-index: 9999;
	background-color: black;
	background-color: rgba(0,0,0, 0.8);
	display: none;

	&.is-active {
		display: block;
	}

}

	.geolocation__form {
		width: 320px;
		height: 200px;
		padding: 30px;
		background-color: $color-yellow;
		
		top: 50%;
		left: 50%;
		margin-left: -160px;
		margin-top: -100px;
		position: absolute;
	}

	.geolocation__search {
		margin: 15px 0;
		width: 100%;
		padding-left: 11.2px;
    	border: 1px solid #fff;
    	border-top-right-radius: 0;
    	border-bottom-right-radius: 0;
    	height: 44px;
    	color: #3888C5;
	}

	.geolocation__submit-btn {
		background-color: #3888C5;
    	color: white;
    	box-shadow: 0 1px 0 rgba(0,0,0,0.1),inset 0 0 0 rgba(0,0,0,0.1);
    	display: inline-block;
    	padding: 10px 25px;
    	font-weight: 400;
    	height: 44px;
    	text-align: center;
    	vertical-align: middle;
   		cursor: pointer;
    	border: 1px solid transparent;
    	border-radius: 2px;
	}